doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css', integrity='sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT', crossorigin='anonymous')

    script(src='https://code.jquery.com/jquery-3.6.1.min.js', integrity='sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=', crossorigin="anonymous")
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js', integrity='ha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8', crossorigin='anonymous')

  body(class= 'text-white bg-dark')
    div(class='navbar navbar-expand-sm navbar-dark bg-dark border-bottom border-white px-2')
      a(class='navbar-brand', href='/') Immobiliator

      button(
        class= 'navbar-toggler',
        type= 'button',
        data-toggle= 'collapse',
        data-target= '#navbarSupportedContent',
        aria-controls= 'navbarSupportedContent',
        aria-expanded= 'false',
        aria-label= 'Toggle navigation')
          span(class= 'navbar-toggler-icon')

      div(class= 'collapse navbar-collapse', id= 'navbarSupportedContent')
        ul(class= 'navbar-nav mr-auto')
          li(class= 'nav-item active')
            a(class= 'nav-link', href= '/ping') ping
          li(class= 'nav-item')
            a(class= 'nav-link', href= '/modifyUser') Modifier l'utilisateur
          li(class= 'nav-item')
            a(class= 'nav-link', href= '/announces') Announces
        div(class='text-end', style="width: fill-available; width: -moz-available;")
          if (!user)
            div(class= 'row navbar-nav')
              div(class='col-10 text-end nav-item px-0')
                a(class='nav-link', href="/login") Login
              div(class='col-2 px-0')
                a(class='nav-link', href="/register") Register
          else
            div(class='nav-link w-100 active') Hello #{user.username}

    div(class= 'container m-0 m-md-auto p-1 p-md-2')
      block content