extends ../index

block content
    if(!user.type)
        div.row.mb-2
            div.col.text-end
                a(class='btn btn-success', href='/announces/add') Ajouter
    div.row
        div.col
            table.table.table-dark.table-bordered.table-striped.table-hover
                if(user.type)
                    tr
                    th Title
                    th Availability
                    th Type
                    th Status
                    each announce in announces
                        tr(style="cursor: pointer;", onclick=`window.location = '/announces/show/${announce.title}'`)
                            td #{announce.title}
                            td #{announce.availability.toLocaleDateString()}
                            td #{announce.type ? 'Vente' : 'Location'}
                            td #{announce.statusType == 0 ? 'Disponible' : announce.statusType == 1 ? 'Loué' : 'Vendu'}
                else
                    tr
                        th Title
                        th Availability
                        th Type
                        th Status
                        th Actions
                        each announce in announces
                            tr(style="cursor: pointer;", onclick=`window.location = '/announces/show/${announce.title}'`)
                                td #{announce.title}
                                td #{announce.availability.toLocaleDateString()}
                                td #{announce.type ? 'Vente' : 'Location'}
                                td #{announce.statusType == 0 ? 'Disponible' : announce.statusType == 1 ? 'Loué' : 'Vendu'}
                                td
                                    a(class='btn btn-danger', href=`/announces/deleteConfirm/${announce.title}`) Supprimer