extends ../index

block content
    if(!user.type)
        div.row.mb-2
            div.col.text-end
                a(class='btn btn-success', href='/announces/add') Ajouter
    div.row
        div.col
            table.table.table-dark.table-bordered.table-striped.table-hover
                tr
                    th Title
                    th Availability
                    th Price
                    th Type
                each announce in announces
                    tr(style="cursor: pointer;", onclick=`window.location = '/announces/${announce.title}'`)
                        td #{announce.title}
                        td #{announce.availability.toLocaleDateString()}
                        td #{announce.price || 0} €
                        td #{announce.type ? 'Vente' : 'Location'}
