extends ../layout

block content
    div.row
        div.col-12.col-sm-10
            h2 #{announce.title}
        if (!user.type)
            div.col-12.col-sm-2.text-end
                a.btn.btn-primary(href=`/announces/${announce.title}/edit`) Modifier
    div.row
        div.col-6
            span Publier
            p #{announce.isPublish}
        div.col-6
            span Status
            p #{announce.statusType == 0 ? "Disponible" : announce.statusType == 1 ? "Loué" : "Vendu"}
    div.row
        div.col-6
            span Date de disponibilité
            p #{announce.availability.toLocaleDateString()}
        div.col-6
            span Type d'annonce
            p #{announce.type ? "Vente" : "Location"}
    div.row
        div.col-6
            span Prix
            p #{announce.price || 0} €
    div.row.mb-4
        div.col
            label Description:
            br
            each text in announce.description.split("\n")
                span #{text}
                br
    div.row
        each path in (imageIdsUrl || [])
            div.col-12.col-sm-6.mt-2.mt-sm-1
                div.cardContainer
                    div.imageCard
                        a(href=path, target="_blank")
                            img.showImage(src=path)


    div.row
        div.col
            p Questions:
    if (user.type)
        div.row.mb-3
            form(role="form", method="post")
                div.col-9
                    textarea.form-text.form-control(name="question")
                div.col-4
                    input.btn.btn-success.mt-1(type="submit" value="Envoyer")
    each question in (announce.questions || [])
        div.row.mb-2
            div.col
                div.container.border.border-white.rounded
                    div.row
                        div.col-12.col-lg-2
                            div.row
                                div.col-auto.col-lg-12 de #{question.username}
                                div.col.col-lg-12 le #{question.date ? question.date.toLocaleString() : 'xxx'}
                        div.col-10.mt-1 #{question.text}
                    div.row
                        div.col-12
                            div.container.mt-4
                                h5 Réponses:
                                each reponse in (question.answers || [])
                                    div.row
                                        div.col-12.col-lg-2
                                            div.row
                                                div.col-auto.col-lg-12 de #{reponse.username}
                                                div.col.col-lg-12 le #{reponse.date ? reponse.date.toLocaleString() : 'xxx'}

                                        div.col-10 #{reponse.text}
                    if (!user.type)
                        div.row
                            div.col.mt-4
                                form(role="form", method="post")
                                    div.col-12 Répondre:
                                    div.col-9
                                        textarea.form-text.form-control(name="answer")
                                    div.col-4
                                        input.btn.btn-success.mt-1(type="submit" value="Envoyer")
                                        input(type='hidden', name='question', value=question.text)